<link rel="stylesheet" href="../css/main.css">
<link rel="stylesheet" href="../fontawesome-free-5.13.0-web/css/all.css">    
<link href="https://fonts.googleapis.com/icon?family=Material+Icons">
<title><%= title %></title>
<div id="full-article-wrapper">
    <% if (typeof article != 'undefined') { %>        
        <div id="delete-article">
            
        </div>
        <div class="edit-and-delete">
            <ul>
                <li>
                    <a href="" class="edit-icon"><span class="material-icons">edit</span></a>
                    <ul><li>Edit</li></ul>
                </li>
                <li>
                    <a href="" class="delete-icon"><span class="material-icons">delete</span></a>
                    <ul><li>Delete</li></ul>
                </li>
            </ul>                      
        </div>
        <div class="article">
            <div class="artilce-contents">
                <div class="article-header">
                    <div class="header-contents">
                        <div class="author">
                            <div class="profile-pic">
                                <img src="../images/profile-pic.png" alt="profile-pic">
                            </div>
                            <div class="name-and-published">
                                <div class="name"><a href="/user/<%=article.author._id%>"><%= article.author.name %> </a></div>
                                <div class="published"><%= article.createdAt.toDateString() %> </div>
                            </div>
                            <div class="reading-time">
                                <div class="mins-to-read">5 mins read</div>
                            </div>
                        </div>                                                       
                    </div>
                </div>
                <div class="article-body">
                    <div class="body-contents">
                        <div class="title">
                           <h2> <%= article.title %> </h2>
                        </div>
                        <div class="body">
                            <%- article.body %>                                     
                        </div>                       
                    </div>
                </div>
            </div>
        </div>     
    <% } %>
</div>