<script async charset="utf-8" src="//cdn.embedly.com/widgets/platform.js"></script>
<title><%=title%></title>
<div class="articles-section">        
    <div class="contents">                        
        <% if (typeof articles != "undefined") { %>
            <% articles.forEach(article => { %>
                <div class="article" id="article">
                    <div id="mobileEditAndDeleteWrapper">
                        <div class="mobile-edit-and-delete">
                            <ul>
                                <li>
                                    <span class="ellipse-icon"><span><i class="fas fa-ellipsis-h"></i></span></span>                                   
                                    <ul class="edit-and-delete-dropdown">
                                        <li><a href=""><span><span>Edit</span></span></a></li>
                                        <li><a href=""><span><span>Delete</span></span></a></li>
                                    </ul>
                                
                                </li>
                            </ul>
                        </div>
                    </div>
                    <% if (typeof AuthUser != "undefined") { %>                        
                        <% if (AuthUser._id == article.author._id) { %>                            
                            <div class="edit-and-delete">
                                <ul>
                                    <li>
                                        <a href="" class="edit-icon"><span class="material-icons">edit</span></a>
                                        <ul><li>Edit</li></ul>
                                    </li>
                                    <li>
                                        <a href="" class="delete-icon"><span class="material-icons">delete</span></a>
                                        <ul><li>Delete</li></ul>
                                    </li>
                                </ul>                      
                            </div>
                        <% } %>
                    <% } %>                    
                    <div class="article-contents">
                        <div class="article-header">
                            <div class="header-contents">
                                <div class="author">
                                    <div class="profile-pic">
                                        <img src="./images/profile-pic.png" alt="profile-pic">
                                    </div>
                                    <div class="name-and-published">
                                        <div class="name"> <a href="/user/<%=article.author._id||article.author.name%>"><%= article.author.name %></a> </div>
                                        <div class="published"><%= article.createdAt.toDateString() %> </div>
                                    </div>
                                </div>
                                <div class="mins-to-read">5 mins</div>                                
                            </div>
                        </div>
                        <div class="article-body">
                            <div class="body-contents">
                                <div class="title">
                                   <h2> <%= article.title %> </h2>
                                </div>
                                <div class="body">
                                    <%- article.body %>                                     
                                </div>
                                <div class="read-more">
                                    <a href="/article/<%=article._id%>">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="article-footer">
                            <div class="footer-contents">
                                <div class="comment-and-like">
                                    <ul>
                                        <li>
                                            <a href="" class="comment-icon"><span class="material-icons">mode_comment</span></a>
                                            <ul>
                                                <li>Comment</li>
                                            </ul>
                                        </li>
                                        <li><a href="" class="like-icon"><span class="material-icons">thumb_up_alt</span></a>
                                            <ul>
                                                <li>Like</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>                                
                                <div class="share">
                                    <ul>
                                        <li>
                                            <a href="" class="share-icon"><span class="material-icons">share</span></a>
                                            <ul>
                                                <li><a href=""><span><i class="fab fa-facebook"></i></span><span>Facebook</span></a></li>
                                                <li><a href=""><span><i class="fab fa-twitter"></i></span><span>Twitter</span></a></li>
                                                <li><a href=""><span><i class="fab fa-instagram"></i></span><span>Instagram</span></a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <% }) %>
        <% } %>        
    </div>
</div>
<div id="create-article">   
    <div class="create-article">            
        <h2>Create an Article</h2>       
            <% if (typeof success != "undefined") { %>
                <div class="failure-messages">
                    <div class="messages">
                    <div><%=success[0]%></div>
                    </div>
                </div>
            <% } %>
        <div class="article-form">
            <form action="/" method="POST">
                <div class="form-group category-title">                                                
                    <div class="input">
                        <input type="text" name="title" id="title" class="form-control" placeholder="Title">
                        <% if (typeof fail != "undefined") { %>                        
                            <div class="failure-messages">
                                <% fail.forEach(failMsg => { %>                                
                                <div class="title-required">
                                    <div>
                                        <%= failMsg.titleRequired %>                                        
                                    </div>
                                </div>                                                               
                                <% }) %>
                            </div>
                        <% } %>
                    </div>
                    <div class="input"><input type="text" name="category" id="category" class="form-control" placeholder="Category"></div>
                </div>                   
                <div class="form-group text-area">                        
                    <textarea id="editor" style="height:400px;" name="body" placeholder="Start writing here..." class="form-control"></textarea>
                    <% if (typeof fail != "undefined") { %>                        
                        <div class="failure-messages">
                            <% fail.forEach(failMsg => { %>                            
                                <% if (failMsg.bodyRequired) { %>
                                    <div class="body-required">
                                        <div>
                                            <%= failMsg.bodyRequired %>                                           
                                        </div>
                                    </div>  
                                <% } %>                                                            
                                <% if (failMsg.bodyLength) { %>
                                    <div class="body-required">
                                        <div>
                                            <%= failMsg.bodyLength %>                                            
                                        </div>
                                    </div>  
                                <% } %>                                                            
                            <% }) %>
                        </div>
                    <% } %>
                </div>
                <div class="btn">
                    <button type="submit" class="submit-article">Post</button>
                </div>
            </form>        
        </div>
    </div>      
</div>