<title><%=title%></title>
<div class="articles-section">    
    <% if (typeof success != "undefined") { %>
        <% console.log(success) %> 
    <% } %>
    <div class="contents">                
        <div id="login-register-wrapper">
            <div class="login-close">
                <a href=""><span class="material-icons">close</span></a>
            </div>
            <div class="register">
                <div class="contents">
                    <div class="register-header">
                        <h1>Resgister here....</h1>
                    </div>
                    <form action="/" method="POST">                
                        <div class="form-contents"> 
                            <% if (typeof message != "undefined") { %>
                                <% if (typeof message.success != "undefined") { %>
                                    <div class="success">
                                        <span><%= message.success %></span>
                                    </div>
                                <% } %>
                            <% } %>
                            <div class="name">
                                <span class="name-icon">                                    
                                    <span><i class="fas fa-user"></i></span>
                                </span>
                                <input type="text" name="name" placeholder="Name" id="name"/>                    
                                <% if (typeof message != "undefined") { %>
                                    <% if (typeof message.name !=  'undefined') { %>
                                        <span class="required"><%= message.name %></span>
                                    <% } %>                                               
                                <% } %>
                            </div>                   
                            <div class="email">
                                <span class="user-icon">
                                    <span><i class="fas fa-envelope"></i></span>
                                </span>
                                <input type="email" name="email" placeholder="E-Mail" id="email"/>
                                <% if (typeof message != "undefined") { %>
                                    <% if (typeof message.email !=  'undefined') { %>
                                        <span class="required"><%= message.email %></span>
                                    <% } %>                       
                                <% } %>
                            </div>
                            <div class="password">
                                <span class="password-icon">
                                    <span><i class="fas fa-unlock"></i></span>
                                </span>
                                <input type="password" name="password" placeholder="Password" id="password"/>
                                <% if (typeof message != "undefined") { %>
                                <% if (typeof message.password !=  'undefined') { %>
                                    <span class="required"><%= message.password %></span>
                                <% } %>                    
                                <% if (typeof message.passwordLength !=  'undefined') { %>
                                    <span class="required"><%= message.passwordLength %></span>
                                <% } %>
                            <% } %>
                            </div>                
                            <div class="register-btn">
                                <button type="submit">Register</button>
                            </div>
                            <span class="already-registered">
                                <span class="text">Already registerd?</span>
                                <a href="" class="switch-to-login">Login...</a>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
            <div class="login">
                <div class="login-contents">
                    <div class="login-heading">
                        <h1>Login</h1>
                    </div>
                    <form action="/login" method="POST">                
                            <div class="form-contents">                    
                            <div class="email">
                                <span class="user-icon">
                                    <span><i class="fas fa-user"></i></span>
                                </span>
                                <input type="email" name="email" placeholder="E-Mail" id="login-email"/>
                            </div>
                            <div class="password">
                                <span class="password-icon">
                                    <span><i class="fas fa-unlock"></i></span>
                                </span>
                                <input type="password" name="password" placeholder="Password" id="login-password"/>
                            </div>                
                            <div class="login-btn">
                                <button type="submit">Login</button>
                            </div>
                            <span class="new-to-website">
                                <span class="text">New to FW</span>
                                <a href="" class="switch-to-register">Create an Account...</a>
                            </span>
                            </div>
                    </form>
                </div>
            </div>
        </div>
        <% if (typeof articles != "undefined") { %>
            <% articles.forEach(article => { %>
                <div class="article" id="article">
                    <div id="mobileEditAndDeleteWrapper">
                        <div class="mobile-edit-and-delete">
                            <ul>
                                <li>
                                    <a href="" class="ellipse-icon"><span><i class="fas fa-ellipsis-h"></i></span></a>
                                   
                                    <ul class="edit-and-delete-dropdown">
                                        <li><a href=""><span><span>Edit</span></span></a></li>
                                        <li><a href=""><span><span>Delete</span></span></a></li>
                                    </ul>
                                
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="edit-and-delete">
                        <ul>
                            <li>
                                <a href="" class="edit-icon"><span class="material-icons">edit</span></a>
                                <ul><li>Edit</li></ul>
                            </li>
                            <li>
                                <a href="" class="delete-icon"><span class="material-icons">delete</span></a>
                                <ul><li>Delete</li></ul>
                            </li>
                        </ul>                      
                    </div>
                    <div class="article-contents">
                        <div class="article-header">
                            <div class="header-contents">
                                <div class="author">
                                    <div class="profile-pic">
                                        <img src="./images/profile-pic.png" alt="profile-pic">
                                    </div>
                                    <div class="name-and-published">
                                        <div class="name"><%= article.author.name %> </div>
                                        <div class="published"><%= article.createdAt.toDateString() %> </div>
                                    </div>
                                </div>
                                <div class="mins-to-read">5 mins</div>                                
                            </div>
                        </div>
                        <div class="article-body">
                            <div class="body-contents">
                                <div class="title">
                                   <h2> <%= article.title %> </h2>
                                </div>
                                <div class="body">
                                    <%- article.body %>                                     
                                </div>
                                <div class="read-more">
                                    <a href="/article/<%=article._id%>">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="article-footer">
                            <div class="footer-contents">
                                <div class="comment-and-like">
                                    <ul>
                                        <li>
                                            <a href="" class="comment-icon"><span class="material-icons">mode_comment</span></a>
                                            <ul>
                                                <li>Comment</li>
                                            </ul>
                                        </li>
                                        <li><a href="" class="like-icon"><span class="material-icons">thumb_up_alt</span></a>
                                            <ul>
                                                <li>Like</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>                                
                                <div class="share">
                                    <ul>
                                        <li>
                                            <a href="" class="share-icon"><span class="material-icons">share</span></a>
                                            <ul>
                                                <li><a href=""><span><i class="fab fa-facebook"></i></span><span>Facebook</span></a></li>
                                                <li><a href=""><span><i class="fab fa-twitter"></i></span><span>Twitter</span></a></li>
                                                <li><a href=""><span><i class="fab fa-instagram"></i></span><span>Instagram</span></a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <% }) %>
        <% } %>        
    </div>
</div>
<div id="create-article-wrapper">
    <div class="create-article">            
        <h2>Create an Article</h2>
        <div class="article-form">
            <form action="/" method="POST">
                <div class="form-group category-title">                                                
                    <div><input type="text" name="title" id="title" class="form-control" placeholder="Title"></div>
                    <div><input type="text" name="category" id="category" class="form-control" placeholder="Category"></div>
                </div>                   
                <div class="form-group text-area">                        
                    <textarea id="editor" style="height:400px;" name="body" placeholder="Start writing here..." class="form-control"></textarea>
                </div>
                <div class="btn">
                    <button type="submit" class="submit-article">Post</button>
                </div>
            </form>        
        </div>
    </div>      
</div>